@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

/* GLOBAL STYLES */

.section-p1 {
    padding: 40px 100px;
}

/* NAVIGATION BAR */

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #5b7297;
    box-shadow: 0 10px 10px #cccccc;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #fff;
}

/* CATALOG HEADER */

#book-catalog h2 {
    text-align: center;
    font-size: 40px;
    color: #555454;
}

/* CATALOG SEARCH BAR */

.container {
    display: flex;
    justify-content: center;
}

.container form {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container form input {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 10px;
    margin-right: 100px;
}

.container form i {
    padding-left: 10px;
}

/* PRODUCTS */

.product-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 42px 15px;
    margin: 50px 100px;
}

.product {
    margin: 30px 30px 0px 30px;
    display: flex;
    height: 100px;
    cursor: pointer;
    padding: 10px;
    height: auto;
    border: 1px solid #313131;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    transition: 0.2s ease;
}

.product:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    transition: box-shadow 0.4s ease-in-out;
}

.product img {
    height: 200px;
    border-radius: 5px;
}

.product .p-details {
    margin-top: 20px;
    padding-left: 15px;
}

.product .p-details h2 {
    font-size: 20px;
    color: #1d1d1d;
}

.product .p-details h3 {
    font-size: 18px;
}